<div class="grid-container">
  <h1 class="mat-h1">Sections</h1>
  <mat-grid-list [cols]="breakpoint" rowHeight="175px" gutterSize="10px" (window:resize)="onResize($event)"> 
    <mat-grid-tile *ngFor="let card of cards">
      <mat-card class="dashboard-card" (click)="navigate(card.title)">
        <mat-card-content class="dashboard-card-content">
          <div>{{card.title}}</div>
        </mat-card-content>
        <mat-card-content class="dashboard-card-content-count">
            <i class="fa fa-users fa-1x" aria-hidden="true"></i>
          <div class="container">Students: {{card.count}}</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
