<mat-toolbar color="primary">
    <button
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="drawer.toggle()"
      *ngIf="isHandset$ | async">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <a routerLink="/" style="text-decoration: none;color: white"><span routerLink="/">Nithyam</span></a>
    <div class="topbar-container" *ngIf="!(isHandset$ | async)">
      <button mat-button class="topbar-element" routerLink="class">
        <i class="fa fa-graduation-cap" aria-hidden="true"></i> Sections
      </button>
      <button mat-button class="topbar-element" routerLink="addUser">
        <i class="fa fa-user-plus" aria-hidden="true"></i>  Add User
      </button>
  </div>
  </mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'push' : 'hide'"
      [opened]="false">
    <mat-nav-list>
      <a mat-list-item href="class"><i class="fa fa-graduation-cap" aria-hidden="true"></i>Sections</a>
      <a mat-list-item href="addUser"><i class="fa fa-user-plus" aria-hidden="true"></i>Add User</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content >
    <!-- Add Content Here -->
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
